.section-main {
  background-color: #f7f7f7;
  padding: 25rem 5rem;
  margin-top: -20vh;
}

.section-main__header {
  text-align: center;
  margin-bottom: 7rem;
}

.heading-primary {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgba(234, 127, 127, 0.8),
    rgba(231, 78, 78, 0.8)
  );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  color: transparent;
  transition: all 0.3s ease-in;
}

.heading-primary:hover {
  transform: scale(1.1) translateY(-0.1rem);
  text-shadow: 0.3rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.input-group {
  display: inline-block;
  text-align: center;
}

.btn {
  margin-top: 4rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  position: relative;
  background-color: #EA7F7F;
  transition: all 0.2s ease-in;
}

.btn:hover{
  transform: translateY(-0.6rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active{
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.section-thoughts{
  margin-top: 10rem;
}

.thought {
  font-size: 1.8rem;
  padding: 3rem;
  border-bottom: 1px #D1AAAA solid;
}

.thought-date{
  margin-top: 1rem;
  font-size: 1.2rem;
  display: block;
  color: #686767;
}
